<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> Информационная подсистема Учета продаж сервисов</title>
<link rel="icon" href="/images/demospring.png" type="image/x-icon">
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<h1 ><img th:src="@{/images/demospring.png}" width="80" height="80" align="middle"/><a style="margin-left: 20px;">Информационная подсистема Учета продаж сервисов</a>  </h1>
 <div>
           <h2> <a th:href="@{~/payment}" role="button">Покупки</a> <br><br>
            <a th:href="@{~/services}" role="button">Услуги</a>
       </h2> </div>
</body>
</html>
