<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> Информационная подсистема Учета продаж сервисов</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
<link rel="icon" href="/images/demospring.png" type="image/x-icon">
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<h1  style="color:midnightblue" ><img th:src="@{/images/demospring.png}" width="80" height="80" align="middle"/>
<a style="margin-left: 20px;">Информационная подсистема Учета продаж сервисов</a>  </h1>
 <div>
<h2> 
<a href="/services" class="main-button">Выбрать сервис</a>
<a href="/payment/create" class="main-button">Совершить покупку сервиса</a>
<a href="/payment/all" class="main-button">Просмотреть все продажи</a>
</h2> </div>    
</body>
</html>


